body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.name {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 100px;
}
.half-width img {
  width: 95%;
}
.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  border-radius: 5px;
}
.top-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
