body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.name {
  color: orange;
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 100px;
}
.half-width img {
  width: 95%;
}
.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  border-radius: 5px;
}
.top-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.second-half-width img {
  width: 80%;
  padding-left: 100px;
}
.second-half-width {
  width: 50%;
  padding-right: 100px;
}
.second-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-element {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
}
.back-img {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#web-dev {
  border-left: 10px solid;
  border-image: linear-gradient(purple, red);
  border-image-slice: 1;
}
#baby-dev {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer {
  text-align: center;
}
